body {
	background-color: #d5d5d5;
	background-image: url("/img/bg-dashboard.jpg");
}

#main {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
}

.block {
	align-self: flex-start;
	min-width: 200px;
	min-height: 200px;
	margin: 20px;
	padding: 30px;

	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}

h1 {
	text-align: center;
}

h2 {
	font-size: 20px;
	margin-top: -10px;
}

.block {
	--color: #bcd;
	--colora1: #333;
	--colora2: #def;
	color: black;
}

.block .danger {
	--color: #faa;
	--colora1: red;
	--colora2: #fdd;
	color: red;
}

.block h2.danger {
	margin-top: 20px;
}

.block br {
	content: "";
	display: block;
	width: calc(100% + 60px);
	margin: 10px 0 10px -30px;
	height: 1px;
	background-color: var(--color);
}

.line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.block a:not(.line) {
	padding: 5px;
	font-weight: bold;
    min-width: 100px;
    text-align: center;

	border: 1px solid var(--colora1);
	border-radius: 5px;
	background-color: var(--colora2);
	color: var(--colora1);
}

.block a:not(.line):hover {
	background-color: var(--colora1);
	color: white;
}

.line span {
    padding: 2px 5px;
    background-color: var(--bg);
    color: white;
	border-radius: 3px;
}

canvas {
	border: 1px solid #ccc;
	background-color: #fff;
}

a.line {
	transition: 0.4s;
	color: black;
    padding: 5px;
    border-radius: 10px;
}

a.line:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.S { --bg: #0a7; }
.A { --bg: #0c0; }
.B { --bg: #bd0; }
.C { --bg: #ed0; }
.D { --bg: #fa0; }
.E { --bg: #f70; }
.F { --bg: #f00; }
